<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css">
    <!--    Open street maps-->
    <!-- Import Leaflet CSS Style Sheet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
    <!-- Import Leaflet JS Library -->
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>

    <style>
        .lbc_titre {
            box-sizing: border-box;
            color: rgb(26, 26, 26);
            cursor: pointer;
            font-family: OpenSans;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            list-style-type: none;
            overflow: hidden;
            overflow-x: hidden;
            overflow-y: hidden;
            pointer-events: auto;
            text-align: left;
            transition-delay: 0s;
            transition-duration: 0.2s;
            transition-property: all;
            transition-timing-function: ease-in;
            vertical-align: top;
            word-break: break-word;
        }

        a {
            color: inherit;
        }

        .price {
            box-sizing: border-box;
            color: rgb(245, 107, 42);
            cursor: pointer;
            font-family: OpenSans;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
            list-style-type: none;
            pointer-events: auto;
            text-align: left;
        }

        .carousel-item {
            padding-top: 0.8cm;
        }

        .card-body {
            margin-bottom: 10px;
            margin-left: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            margin-right: 10px;
        }

        p.collapse:not(.show)[aria-expanded="false"] {
            display: block;
            height: 4cm !important;
            overflow: hidden;
        }

        p.collapsing[aria-expanded="false"] {
            height: 4cm !important;
        }

        a[data-toggle="collapse"].collapsed:after {
            content: '+ Plus d\'infos';
        }

        a[data-toggle="collapse"]:not(.collapsed):after {
            content: '- Plus d\'infos';
        }

        .sticky-top {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1020;
            background-color: white;
        }
        .page-header{
            height: 20vh;
            overflow: hidden;
        }

        .slider-container{
            display: inline-block;
            width: 13cm;
        }

        #my_osm_widget_map { /* use the same name as <div id=""> */
            width: 100%; /* important! if you need full width display */
            height: 85vh;
            margin: 0;
            border-radius: 5px;
            /* ... */
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header sticky-top">
                <h1>
                    LeBonCoin ! <small>Rapport des nouvelles annonces: {{elements|length}} annonces trouvées</small>
                </h1>

                <!-- Sliders pour le prix-->
                <div class="slider-container">
                    Prix: <b style="margin-right: 10px"><span id="prixmin">{{price_min}}</span>€</b>

                    <input id="ex2" type="text" class="span2" value=""
                           data-slider-min="{{price_min}}" data-slider-max="{{price_max}}"
                           data-slider-step="{{(price_max-price_min)/1000}}"
                           data-slider-value="[{{price_min}},{{price_max}}]"
                    />
                    <b style="margin-left: 10px"><span id="prixmax">{{price_max}}</span>€</b>
                </div>

                <!-- Sliders pour la distance -->
                {% for dirname, dirval in directions.items() %}
                <div class="slider-container">
                {{dirname}}: <b style="margin-right: 10px"><span id="{{dirname|replace(" ", "_")}}_min">{{"%.0f"|format(dirval.min/60)}}</span>min</b>
                    <input id="slider_{{dirname|replace(" ", "_")}}" type="text" class="span2" value=""
                       data-slider-min="{{dirval.min}}" data-slider-max="{{dirval.max}}"
                       data-slider-step="{{(dirval.max-dirval.min)/1000}}"
                       data-slider-value="[{{dirval.min}},{{dirval.max}}]"
                />
                    <b style="margin-left: 10px"><span id="{{dirname|replace(" ", "_")}}_max">{{"%.0f"|format(dirval.max/60)}}</span>min</b>
                </div>
                {% endfor %}

                <!-- Sliders autre-->
                {% for s in sliders %}
                <div class="slider-container">
                {{s.name}}: <b style="margin-right: 10px"><span id="{{s.id}}_min">{{"%%.%df"|format(s.precision)|format(s.min)}}</span>{{s.unit}}</b>
                    <input id="slider_{{s.id}}" type="text" class="span2" value=""
                       data-slider-min="{{s.min}}" data-slider-max="{{s.max}}"
                       data-slider-step="{{s.step}}"
                       data-slider-value="[{{s.min}},{{s.max}}]"
                />
                    <b style="margin-left: 10px"><span id="{{s.id}}_max">{{"%%.%df"|format(s.precision)|format(s.max)}}</span>{{s.unit}}</b>
                </div>
                {% endfor %}
            </div>

            <!--            BODY-->
            <div class="row">
                <div class="col-7" style="height: 85vh;overflow: scroll">
                    <div id="annonces" class="row scrollable">
                        {% for el in elements %}
                        <div class="row card-body rounded border" id="{{el.list_id}}">
                            <div class="col-md-4">

                                <!-- Carousel-->
                                <div id="carousel_{{el.list_id}}" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        {% for mini,url,large in el.images %}
                                        <li data-target="#carousel_{{el.list_id}}" data-slide-to="{{loop.index0}}" {% if
                                            loop.index0== 0 %} class="active" {% endif %}}></li>
                                        {% endfor %}
                                    </ol>
                                    <div class="carousel-inner">
                                        {% for mini,url,large in el.images %}
                                        <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}}">
                                            <a href="{{large}}" target="_blank"><img class="d-block w-100 lbc_image"
                                                                                     style="height: 176px; overflow: hidden"
                                                                                     src="{{url}}"></a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carousel_{{el.list_id}}" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel_{{el.list_id}}" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>


                            </div>
                            <!-- Partie de droite de l'annonce -->
                            <div class="col-md-8">
                                <div class="row">
                                    <h3 class="lbc_titre"><a href="{{el.url}}" target="_blank">{{el.subject}}</a></h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 class="price">{{el.price}} €</h4>

                                        <address>
                                            <strong>
                                                <a href="https://www.google.fr/maps/place/{{el.location.lat}},{{el.location.lng}}"
                                                   target="_blank">
                                                    {{el.location.city_label}}
                                                </a>
                                            </strong><br/>
                                            {% for name,duration in el.directions.items() %}
                                            {{name}}: {{duration.text}}<br/>
                                            {% endfor %}
                                            {% for s in sliders %}
                                            {% if el.sliders[s.id] is not none and s.display %}
                                            {{s.name}}: {{el.sliders[s.id]|round|int}}{{s.unit}}<br/>
                                            {% endif %}
                                            {% endfor %}
                                            {% for m_name, m in el.metrics.items() %}
                                            {% if m.value is not none %}
                                            {{m_name}}: {{m.value}}{{m.unit}}<br/>
                                            {% endif %}
                                            {% endfor %}
                                        </address>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="collapse" id="collapse-{{el.list_id}}" aria-expanded="false">{{el.body}}</p>
                                        <a role="button" class="collapsed" data-toggle="collapse" href="#collapse-{{el.list_id}}"
                                           aria-expanded="false" aria-controls="collapseExample"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-5">
                    <div id="my_osm_widget_map" class="sticky-top"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // On initialise la latitude et la longitude de Paris (centre de la carte)

    var mymap = L.map('my_osm_widget_map', { /* use the same name as your <div id=""> */
        center: [{{map_center[0]}},{{map_center[1]}}], /* set GPS Coordinates */
        zoom: {{map_zoom}}, /* define the zoom level */
        zoomControl: true, /* false = no zoom control buttons displayed */
        scrollWheelZoom: true /* false = scrolling zoom on the map is locked */
    });

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{mapbox_token}}', { /* set your personal MapBox Access Token */
        maxZoom: 20, /* zoom limit of the map */
        attribution: 'Données &copy; Contributeurs <a href="http://openstreetmap.org">OpenStreetMap</a> + ' +
            '<a href="http://mapbox.com">Mapbox</a> | ' +
            '<a href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a> ' +
            'Guillaume Rouan 2016', /* set the map's caption */
        id: 'mapbox.streets' /* mapbox.light / dark / streets / outdoors / satellite */
    }).addTo(mymap);

    var data = {{json}}
    var red_icon="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|e85141&chf=a,s,ee00FFFF";
    var green_icon="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|2ecc71&chf=a,s,ee00FFFF";

    var markers = {};

    $(document).ready(function () {
        for (let el of data){
            let id=el.list_id
            markers[id] = L.marker(el.coordinates);
            markers[id].addTo(mymap);
            $(markers[id]._icon).attr("src",red_icon)

            $("#" + id.toString()).hover(
                function (obj) {
                    $(markers[parseInt(obj.currentTarget.id)]._icon).attr("src",green_icon)
                },
                function (obj) {
                    $(markers[parseInt(obj.currentTarget.id)]._icon).attr("src",red_icon)
                }
            )
        }

        $(".page-header").hover(
            function (obj) {
                $(obj.currentTarget).height("30vh")
            },
            function (obj) {
                $(obj.currentTarget).height("20vh")
            }
        )
    });





    var hide_settings={
        prixmin:{{price_min}},prixmax:{{price_max}},
    {% for dirname, dirval in directions.items() %}
        {{dirname|replace(" ", "_")}}_min:{{dirval.min}},{{dirname|replace(" ", "_")}}_max:{{dirval.max}},
    {% endfor %}
    {% for s in sliders %}
        {{s.id}}_min:{{s.min}},{{s.id}}_max:{{s.max}},
    {% endfor %}
    };

    function update_hide() {
        for (var i = 0; i < data.length; i++) {
            var price = data[i].price_int;
            // Create variables
            {% for dirname, dirval in directions.items() %}
            var duration_{{dirname|replace(" ", "_")}} = data[i].directions["{{dirname}}"].value;
            {% endfor %}
            {% for s in sliders %}
            var slider_{{s.id}} = data[i].sliders.{{s.id}};
            {% endfor %}

            // Check conditions
            if (price > hide_settings.prixmax || price < hide_settings.prixmin
            {% for dirname, dirval in directions.items() %}
                || duration_{{dirname|replace(" ", "_")}}>hide_settings.{{dirname|replace(" ", "_")}}_max || duration_{{dirname|replace(" ", "_")}} < hide_settings.{{dirname|replace(" ", "_")}}_min
            {% endfor %}
            {% for s in sliders %}
                || ((slider_{{s.id}}>hide_settings.{{s.id}}_max || slider_{{s.id}} < hide_settings.{{s.id}}_min) && slider_{{s.id}} !== null)
            {% endfor %}
            ) {
                var id=data[i].list_id
                $("#" + id.toString()).hide();
                $(markers[id]._shadow).hide();
                $(markers[id]._icon).hide();
            } else {
                var id=data[i].list_id
                $("#" + id.toString()).show()
                $(markers[id]._shadow).show();
                $(markers[id]._icon).show();
            }
        }
    }

    var priceslider = $("#ex2").slider({});
    priceslider.on("change", function (value) {
        var valmin = value.value.newValue[0];
        $("#prixmin").html(valmin);
        var valmax = value.value.newValue[1];
        $("#prixmax").html(valmax);

        hide_settings.prixmin=valmin;
        hide_settings.prixmax=valmax;

        update_hide();

    });


    {% for dirname, dirval in directions.items() %}
    $("#slider_{{dirname|replace(" ", "_")}}").slider({}).on("change", function (value) {
        var val = value.value.newValue;
        hide_settings.{{dirname|replace(" ", "_")}}_min = val[0];
        hide_settings.{{dirname|replace(" ", "_")}}_max = val[1];

        $("#{{dirname|replace(" ", "_")}}_min").html(Math.round(val[0]/60));
        $("#{{dirname|replace(" ", "_")}}_max").html(Math.round(val[1]/60));

        update_hide();
    });
    {% endfor %}

    {% for s in sliders %}
    $("#slider_{{s.id}}").slider({}).on("change", function (value) {
        var val = value.value.newValue;
        hide_settings.{{s.id}}_min = val[0];
        hide_settings.{{s.id}}_max = val[1];

        $("#{{s.id}}_min").html(val[0].toFixed({{s.precision}}));
        $("#{{s.id}}_max").html(val[1].toFixed({{s.precision}}));

        update_hide();
    });
    {% endfor %}

</script>
</body>
</html>
